@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.cover{
    display: flex;
    justify-content: center;
}


.items-center{
    display: flex;
    flex-wrap: wrap;
    width: 60em;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 12em;
}

.title{
    font-size: 2.8em;
}

.subtitle{
    font-size: 1.5em;
}

.container{
    background-color: #ffffff;
    padding: 2.6em 2.8em;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
    max-width: max-content; 
    margin-top: 1.3em;
}

.search-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.search-wrapper button{
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em 1.2em;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
}

.search-wrapper input{
    font-size: 1.5em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
    font-family: 'Poppins', sans-serif;
}

#result-container {
    background-color: #ffffffef;
    padding: 2.6em 2.8em;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
    text-align: center;
    list-style-type: disc;
    margin-top: 2em;
    margin-bottom: 5em;
  }

#result-container h1{
    margin-bottom: 0.8em;
}

#result-container p{
    margin-top: 1em;
}

.hidden {
    display: none;
}

footer{
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #9fccfa;
  padding: 1.5em;
}

.footer-relative{
    position: relative;
    top: 10em;
}

.text-footer{
    display: flex;
    justify-content: center;
}






  @media only screen and (max-width: 557px){

    .title{
        font-size: 2.4em;
    }
    
    .subtitle{
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }    

    .items-center{
    width: 20em;
    top: 12em;
    }

    .container{
        max-width: 20em; 
    }

    .search-wrapper{
        flex-wrap: wrap;
        gap: 1.4em;
    }
    
    .search-wrapper button{
        font-size: 0.7em;
    }

    .search-wrapper input{
        font-size: 1.3em;
    }
  }